.hidden {
  display: none;
}

.button {
  background-image: none;
  box-shadow: none;

  span {
    color: white;
    font-size: 1rem;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.textButton,
.textButton.bp3-button:not([class*="bp3-intent-"]) {
  @extend .button;
  background: transparent;
}

.actionButton,
.actionButton.bp3-button:not([class*="bp3-intent-"]) {
  @extend .button;
  background: $red;
  height: 40px;
  border-radius: 50px;

  .bp3-button-text {
    margin: 0;
  }
}

.allReviewsButton {
  width: 300px;

  span {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
  }
}

.uploadButton,
.uploadButton.bp3-button:not([class*="bp3-intent-"]) {
  width: 100%;
  background: $red;
  border-radius: 0;

  &:hover,
  &:active,
  &:focus {
    background: $darkRed;
  }

  span {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;

    em {
      display: block;
      font-size: 0.9rem;
      font-style: normal;
      opacity: 0.7;
    }
  }
}

.logoContainer {
  min-width: $sidebarWidth;
  @extend .horizontalCenter;
}

.logo {
  max-width: $sidebarWidth;
  margin: 5px 15px 0px 0px;
  height: 35px;
}

.trackButton,
.trackButton.bp3-button:not([class*="bp3-intent-"]) {
  background: transparent;
  display: block;
  width: 100%;
  border: none;
  box-shadow: none;

  border: 2px white solid;
  border-radius: 50px;
  margin-top: 10px;
  opacity: 0.7;
  transition: all $short;

  &:hover {
    opacity: 1;
    transition: all $short;
  }

  .bp3-button-text > span {
    display: block;
    color: white;
    text-align: center;
    font-size: 1rem;
    margin: 2px 0;

    text-transform: uppercase;
    font-weight: 600;

    .bp3-icon {
      position: relative;
      color: white;
      margin: 0px 8px 0 0;
      top: -2px;
      width: 14px;

      svg {
        position: relative;
      }
    }
  }
}

.prependChildren {
  margin-top: 25px;
}

.mobileHide {
  // width: 100%;

  @include tabletDown {
    display: none;
  }
}

.mobileShow {
  display: none;

  @include tabletDown {
    display: block;
  }
}

.w100 {
  width: 100%;
}
