.hidden {
  display: none;
}

.scaleClick {
  transition: $long all;

  &:hover {
    transform: scale(1.02);
    transition: $long all;
  }

  &:focus,
  &:active {
    transform: scale(0.98);
  }
}

.textButton {
  span {
    color: white;
    font-size: 1rem;
    padding: 0 15px;
    // text-transform: uppercase;
    // font-weight: 600;
  }
}

.headerItem {
  height: $headerHeight;
}
