.hidden {
  display: none;
}

.scaleClick {
  transition: $long all;

  &:hover {
    transform: scale(1.02);
    transition: $long all;
  }

  &:focus,
  &:active {
    transform: scale(0.98);
  }
}

.textButton {
  span {
    color: white;
    font-size: 1rem;
    padding: 0 15px;
    // text-transform: uppercase;
    // font-weight: 600;
  }
}

.headerItem {
  height: $headerHeight;
}

.card {
  @extend .verticalCenter;
  max-width: 50vw;
  min-width: 20vw;
  border-radius: $radius3;
  box-shadow: $shadow;
  cursor: pointer;
  background: $gray-gradient3;
  @extend .scaleClick;

  &:hover {
    box-shadow: $bigShadow;
    background: linear-gradient($dark-gray3, $dark-gray3);
  }

  &:focus,
  &:active {
    box-shadow: $shadow;
  }
}

.cardInRow {
  margin-right: 25px;
}

.allReviewsButton {
  width: 300px;

  span {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
  }
}
