* {
  font-family: $bFont;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  padding: 0;
  margin: 15px 0;
  color: white;
}

.headline {
  font-size: 3rem;

  @include tabletDown {
    font-size: 2rem;
  }
}

ul,
ol {
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 7px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}

a {
  text-decoration: none;
  color: $black;
  font-weight: 600;
  transition: $short all;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    text-decoration: none;
    color: $red;
    transition: $short all;
  }
}
