.artistCard {
  @extend .card;
  min-width: 20vw;

  // &:last-of-type {
  //   margin-right: 50px;
  // }

  img {
    display: block;
    width: 70px;
    height: 70px;
    align-self: center;
    border-radius: 50%;
  }

  .cardInfo {
    h5,
    p,
    span {
      display: block;
      text-align: center;
      color: white;
    }
    h5 {
      font-size: 1rem;
      text-transform: uppercase;
    }
    p,
    span {
      font-size: 0.8rem;
    }
  }
}
