$postImageGap: 8px;

.postImageViewer {
  .postImageViewerContain {
    .focusContent {
      img {
        display: block;
        width: 100%;
        background: $lightGrey;
        border-radius: 5px;
      }
    }
    .secondaryContent {
      display: flex;
      flex-direction: row;
      margin-top: $postImageGap;

      // .ctrls {
      //   width: 90px;
      // }
      .photoStrip {
        height: 100px;
        width: 100%;
        // width: calc(100% - 90px);
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-row-gap: 8px;
        // grid-column-gap: 8px;

        img {
          display: block;
          // width: 100%;
          width: auto;
          height: 100px;
          background: $lightGrey;
          border-radius: 5px;
          margin-right: $postImageGap;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}
