NODE_ENV=development
DEV_DATABASE_URL=mysql://127.0.0.1:3306/development
TEST_DATABASE_URL=mysql://127.0.0.1:3306/test
PORT=3001
DEV_PORT=3000
DEV_SERVER_DISABLE_HOST_CHECK=0
REDIS_URL=redis://localhost:6379/0
USE_FAKE_DATA=true
enableDeveloperLogin=true
__TEST__=false
# MINIFY=true

DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=prisma
DATABASE=default@default

MIXPANEL_SECRET=267c26d220e43fdbed56ded2521bafbf
SENTRY=https://c2dc6c4d9a53427693feed5b43aef4d0@sentry.io/1478941

MANDRILL_KEY=A3u47KsLJL0r0aXOEysz9A
MAILCHIMP_API_KEY=5b922894b6aa0c1df55000412fa0570c-us20

AUTH0_CLIENT_ID=Tj4kxtOz2rwOd0aQlNeIXy42O7E3Hgv2
AUTH0_DOMAIN=reeviewr.auth0.com

V1_S3_DIR=https://s3.amazonaws.com/toxicrobin/toxicrobin/wp-content/uploads/
V1_S3_URL=https://s3.amazonaws.com/toxicrobin/toxicrobin/wp-content

S3_KEY_ID=AKIAI4V6CMTZZYI4Y5QQ
S3_ACCESS_KEY=7RJ+4V81aEr9C+Ek7RU1ipCjNbNqfeMGqEaHqsAH

SERVER_URL=http://localhost:3001

PRISMA_API_LOCAL=http://localhost:443/
PRISMA_API_PROD=https://reeviewr-prisma.com/default/default
PRISMA_API=http://localhost:443/default/default

CLOUDINARY_URL=cloudinary://776972576632868:eaQu6zYBr3pFtzC1MY1Lg0Yb1hs@hme3u9lwt
CLOUDINARY_API_KEY=776972576632868
CLOUDINARY_API_SECRET=eaQu6zYBr3pFtzC1MY1Lg0Yb1hs

PRISMA_API_MANAGEMENT_SECRET=my-secret

CHATKIT_INSTANCE=v1:us1:a9fd4cf4-b88b-401e-8c9a-019b95bccfa8
CHATKIT_KEY=febbb08f-a8bc-49bd-8381-0dc527e7ddca:vl6pmhPvJAYOqSkuQVw1dFaSDg3pb+HgaVLBUYLbjfs=