/* Breakpoints */
$phone: 480px;
$mini: 620px;
$tablet: 768px;
$desktop: 1140px;

/* Social */
$facebook: #306199;
$twitter: #26c4f1;
$google: #e93f2e;
$pinterest: #b81621;

/* Colors */
$gray-gradient1: linear-gradient(45deg, $dark-gray1 35%, $dark-gray3);
$gray-gradient2: linear-gradient(45deg, $dark-gray2 35%, $dark-gray4);
$gray-gradient3: linear-gradient(45deg, $dark-gray3 35%, $dark-gray5);

/** Brand **/
$red: #df494a;
$blue: #5bc1ed;
$lightBlue: #8bdeff;

/* Transitions */
$long: 0.3s;
$short: 0.1s;

/** Widths / Heights **/
$headerHeight: 80px;
$sidebarWidth: 300px;

/* Paddings */
$large: 100px;
$medium: 70px;
$small: 20px;
$mobile: 15px;

/* Shadows */
$shadow: 0 15px 40px 3px rgba(0, 0, 0, 0.3);
$darkShadow: 0 15px 40px 3px rgba(0, 0, 0, 0.4);
$bigShadow: 0 25px 50px 5px rgba(0, 0, 0, 0.35);

/* Fonts */
$hFont: futura-pt, sans-serif;
$bFont: futura-pt, sans-serif;
