/* Breakpoints */
$phone: 480px;
$mini: 620px;
$tablet: 768px;
$desktop: 1140px;

/* Social */
$facebook: #306199;
$twitter: #26c4f1;
$google: #e93f2e;
$pinterest: #b81621;

/* Colors */
$grey: #d2d2d2;

/* Transitions */
$long: 0.3s;
$short: 0.1s;

/* Paddings */
$large: 100px;
$medium: 70px;
$small: 20px;
$mobile: 15px;

/* Shadows */
$shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;

/* Fonts */
$h_font: serif;
$b_font: sans-serif;
