.trackWaveForm {
  width: 100%;
  border-radius: $radius2;
  overflow: hidden;

  .waveContainer {
    // display: flex;
    // flex-grow: 1;
    width: 100%;
    height: 150px;
    background: $gray1;
  }
}
