.postDetail {
  .postDetailContain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .content {
      // width: calc(100% - 540px);

      position: relative;

      .postImageViewer {
        // width: 100%;
        width: calc(100% - 840px);
        position: fixed;
      }
    }
    .interaction {
      width: 490px;
      // height: calc(100vh - 115px);
      // overflow: scroll;
    }
  }
}
