.categoryGrid {
  margin-bottom: 35px;

  .categoryGridContain {
    .categoryGridHeader {
      margin-bottom: 24px;

      h6 {
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        color: $light-slate-blue;
      }
    }
    .categoryGridContent {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 13px;
      grid-row-gap: 13px;
    }
  }
}

.darkMode {
  .categoryGrid {
    .categoryGridContain {
      .categoryGridHeader {
        h6 {
          color: white;
        }
      }
    }
  }
}

.lightMode {
  .categoryGrid {
    .categoryGridContain {
      .categoryGridHeader {
        h6 {
          color: $light-slate-blue;
        }
      }
    }
  }
}
