.contentFooter {
  width: 100%;
  padding: 50px 50px 50px 50px;
  margin: 0 -35px;
  width: calc(100% + 70px);

  @include tabletDown {
    margin-bottom: -20px;
  }
}

.darkMode .contentFooter {
  background: $dark-gray3;
}

.lightMode .contentFooter {
  background: $light-gray1;
}
