.addReview,
.addReview.bp3-button:not([class*="bp3-intent-"]) {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: $dark-gray2;
  border-bottom: 5px $red solid;
  @extend .scaleClick;

  .bp3-button-text {
    margin: 5px 0;
    width: 100%;
  }
  img {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $dark-gray5;
    // border: 2px $red solid;
  }
  span {
    width: calc(100% - 50px);
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: $bFont;
    font-weight: 600;
    color: white;

    em {
      opacity: 0.5;
      font-style: normal;
      margin-left: 15px;
      display: inline-block;
      vertical-align: top;
    }
  }
}
