.subSidebarContain {
  padding: 25px;

  .profileImage {
    display: block;
    width: 100%;
    border-radius: $radius3;
    margin-bottom: $mobile;
  }

  .sidebarHeadline {
    font-size: 1.4rem;
  }

  .sidebarMeta {
    font-size: 1rem;
  }

  .social-icon {
    width: 35px !important;
    height: 35px !important;
    background: white;
    border-radius: 50%;
    margin-right: 10px;
  }

  p {
    color: white;
    font-size: 1rem;
  }

  @include tabletDown {
    .sidebarHeader {
      display: flex;
      flex-direction: row;

      .profileImage {
        height: 100%;
        width: 35%;
        border-radius: $radius2;
        margin-right: 15px;
      }
      .sidebarHeadline {
        margin-top: 0;
        margin-bottom: 4px;
      }
      .sidebarMeta {
        margin: 4px 0;
      }
    }
    .socialLinks {
      margin-bottom: 10px;
    }
  }
}
