.mainContent {
  padding-left: 335px;
  padding-right: 35px;
  padding-top: 75px + 35px;
  background: #3e4b58;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebarMenu {
}

.bp3-popover .bp3-popover-content .bp3-menu {
  background: $dark-gray3;
}

.bp3-popover .bp3-popover-arrow-fill {
  fill: $dark-gray3;
}

.dropdown {
  li {
    .menuItem {
      padding: 10px 30px;

      & > .bp3-fill {
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }
}
