.menuItem,
.menuItem.bp3-menu-item {
  padding: 15px 50px;
  margin: 0;
  line-height: 30px;
  position: relative;

  &.bp3-active {
    background: transparent;

    &:before {
      content: " ";
      width: 6px;
      height: 6px;
      background: $red;
      border-radius: 50%;
      position: absolute;
      left: 25px;
      top: 25px;
    }

    > .bp3-fill {
      color: $red;
    }
  }
  > .bp3-fill {
    margin: 0;
    font-size: 1.1rem;
    color: white;
  }
  .bp3-menu-item-label {
  }
}
