.reviewItem {
  margin-bottom: 25px;

  .reviewItemContain {
    .itemHeader {
      display: flex;
      flex-direction: row;

      .visual {
        margin-right: 15px;

        img {
          display: block;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $light-gray2;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .userName {
          color: $dark-slate-blue;
          font-size: 0.9rem;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 1.17px;
          line-height: 1.2rem;
        }
      }
    }
    .itemContent {
      margin-top: 10px;
      padding-left: 55px;

      .reviewAnswer {
        color: $dark-slate-blue;
        font-size: 0.85rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.17px;
        line-height: 1.25rem;
      }
    }
  }
}
