.beyondSearch,
.beyondSearch.bp3-input-group.bp3-large {
  width: max-content;
  margin: 0 auto;

  .bp3-icon {
    margin: 18px;

    svg {
      width: 19px;
      height: 19px;
      color: white;
    }
  }
  .bp3-input {
    height: $headerHeight;
    line-height: 55px;
    padding-left: 55px;
    padding-right: 55px;
    min-width: 300px;
    border-radius: 0;
    font-size: 0.8rem;
    letter-spacing: 1.15px;
    color: $light-slate-blue;
  }

  ::-webkit-search-cancel-button {
    position: relative;
    right: 20px;
  }
}

.darkMode .beyondSearch,
.darkMode .beyondSearch.bp3-input-group.bp3-large {
  .bp3-input {
    background: $dark-gray5;
    color: white;
    @include placeholderProperties(rgba(255, 255, 255, 0.8), 300);
  }
}

.lightMode .beyondSearch,
.lightMode .beyondSearch.bp3-input-group.bp3-large {
  .bp3-input {
    background: $light-gray5;
    color: black;
    @include placeholderProperties(rgba(0, 0, 0, 0.8), 300);
  }
}
