.sidebar,
.sidebar.bp3-drawer.bp3-position-left {
  padding-top: $headerHeight;
  background: $dark-gray3;
  width: 300px;

  &.sub-sidebar {
    left: $sidebarWidth;
    background: $dark-gray4;
    box-shadow: none;
    // z-index: -1;
  }

  @include tabletDown {
    transform: translateX(-300px);
  }
}

.sidebarMenu {
  background: transparent;
}

.desktopSidebarPortal {
  z-index: -1;
}
