.sidebar,
.sidebar.bp3-drawer.bp3-position-left {
  // padding-top: $headerHeight;
  z-index: 50;
  box-shadow: none;
  width: $sidebarWidth;

  .logo {
    width: 100%;
    padding: 26px 24px;
  }

  &.sub-sidebar {
    left: $sidebarWidth;

    box-shadow: none;
    z-index: 1;
  }

  @include tabletDown {
    padding-top: 60px;

    &.sub-sidebar {
      position: relative;
      left: auto;
      height: auto;
      width: calc(100% + 40px);
      margin: 0 -$mobile;
      padding-top: 0;
    }

    &.mobileMenuOpen {
      transform: translateX(0px);
      transition: all $long;
    }

    &.mobileMenuClosed {
      transform: translateX(-300px);
      transition: all $long;
    }
  }
}

.sidebarMenu {
  background: transparent;
}

.desktopSidebarPortal {
  z-index: -1;
}

.darkMode .sidebar,
.darkMode .sidebar.bp3-drawer.bp3-position-left {
  background: $dark-gray3;

  &.sub-sidebar {
    background: $dark-gray4;
  }
}

.lightMode .sidebar,
.lightMode .sidebar.bp3-drawer.bp3-position-left {
  background: $pale-grey;

  &.sub-sidebar {
    background: $light-gray4;
  }
}
